.navbar
{
    height: 80px;
    padding: 4px 0px;
    background-color: #02214a;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #02214a;
    border-radius: .9rem;
}

.navItems
{
    align-items: center;
    display: flex;
}

